#myVideo {
  width: 100%;
}

.home-background-container {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.home-container-profile {
  width: 400px;
  height: 400px;
}

.home-container-profile-img {
  width: 100%;
  height: 100%;
  background-image: url("../../images/neri-img.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
