@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-logo-container {
  width: 220px;
}

.header-logo-container img {
  width: 100%;
  object-fit: contain;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.header-container-nav-list {
  display: flex;
  list-style: none;
}

.header-container-nav-list li {
  font-size: 18px;
}

.header-container-nav-list li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0px 10px;
  padding: 5px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.header-container-nav-list a:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: "";
  background: #fff;
  opacity: 0.3;
  transition: all 0.5s;
}

.header-container-nav-list a:hover:before {
  width: 100%;
}

.header-download-container {
  width: 200px;
  display: flex;
  align-items: center;
}

.header-download-container a {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  background-color: rgba(58, 143, 255, 0.678);
  border-radius: 3px;
  padding: 10px;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.header-download-container i {
  color: inherit;
  font-size: 18px;
  margin-right: 4px;
}

.header-download-container a:hover {
  background-color: rgb(151, 0, 126);
  color: #ffffff;
}

.header-download-container a:before,
.header-download-container a:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}
.header-download-container a:before {
  top: 0;
}
.header-download-container a:after {
  bottom: 0;
}
.header-download-container a:hover:before,
.header-download-container a:hover:after {
  height: 0;
  background-color: #000;
}
